body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  margin-left: 40px;
}
footer ul li a {
  text-decoration: none;
  color: rgba(50, 47, 44, 0.63);
  
}
footer ul{
  list-style-type: none;
}
footer .nav-head{
  text-decoration: none;
  font-size: larger;
  color: rgba(101, 94, 85, 0.932);
  margin-bottom: 10px;
}

footer .footer-graveyard-links ul li {
  display: inline;
  font-size: .8rem;
  margin-right: 20px;
  text-decoration: none;}